<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title><%= common.title %> | <%= locals.title %></title>

	<link rel="stylesheet" href="/common/index.css">
	<link rel="stylesheet" href="<%= locals.path %>/index.css">

</head>

<body>

	<div class='background-img'></div>

	<p class="flex">
		This is a test.
	</p>

	<ul>
	  <% common.images.forEach(function iterate(src) { %>
	    <li><img src="<%= src %>" /></li>
	  <% }); %>
	</ul>

	<script src="/manifest/index.js"></script>
	<script src="/vendor/index.js"></script>
	<script src="/common/index.js"></script>
	<script src="<%= locals.path %>/index.js"></script>

</body>

</html>
